@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    @apply bg-2
}

* {
    transition: .2s;
}

.container2 {
    max-width: 90%;
    margin: 0 auto;
}

@media (min-width: 1400px) {
    .container2 {
        max-width: 1350px;
    }
}

.btn {
    padding: 6px 17px;
    border: 1px solid #232323;
}

.btn:active {
    transform: scale(0.95);
}

.btn:hover {
    background: #232323;
    color: #fff;
}

#nav + nav {
    transition: .5s;
}

#nav:checked + nav {
    left: 0;
}


#nav:checked ~ .blur {
    display: block;
}

